@{
ViewBag.Title = "Registration";
}
<div class="row">
    <div class="span6">
        <h2>Add new entry</h2>
        @{Html.EnableClientValidation();}
        @{Html.EnableUnobtrusiveJavaScript();}
        @Html.ValidationSummary()
        @model MvcApplication3.Models.RegisterAccount
        @using(Html.BeginForm("Add", "Register")){
            @Html.EditorForModel()
            <br />
            <input type="submit" value="Register" />
        }
        <br />
    </div>
</div>