<div class="span3">
    <div class="row">
        <div class="span3 sidebar-wrap">
            <div class="sidebar">
            @model MvcApplication3.Models.Login
            @if (!Request.IsAuthenticated)
            {
                using (Html.BeginForm("Login", "Menu"))
                {
                    @Html.EditorForModel();
                    <br />
                    <input type="submit" value="Login" />
                }
            }
            else
            {
                <ul class="nav nav-pills pull-right padding-menu">
				</ul>
				<ul class="nav nav-pills nav-stacked">
					@if(ViewBag.CurrentUser.RoleName == MvcApplication3.Models.Role.Admin)
                     {
                         <li><a href="/Admin"><i class="icon-plus-sign"></i> Админцентр</a></li>
                     }
					<li><a href="/Projects/Add"><i class="icon-plus-sign"></i> Создать проект</a></li>
					<li><a href="/Servers/Add"><i class="icon-plus"></i> Добавить сервер</a></li>
					<li><a href="/Projects/My"><i class="icon-pencil"></i> Настройки проектов</a></li>
					<li><a href="/Service"><i class="icon-shopping-cart" title="Покупка рекламы, V.I.P. статусов, участие в пирамиде"></i> Заказ услуг</a></li>
					<li><a href="/Menu/Logout"><i class="icon-off"></i> Выход</a></li>
				</ul>
        }
            </div>
        </div>         
    </div>
</div>