@if(Request.IsAuthenticated)
{
    <li  class="active">
        <li class="dropdown">
            <a href="/Service" title="Пополнение баланса, автоматизированный заказ рекламы, активные услуги, V.I.P. статус">Баланс - @ViewBag.CurrentUser.Wallet руб.</a>
        </li> 
    </li>
	<li class="divider-vertical pull-right"></li>
} else
{
    <li>
	    <a href="/Register">Регистрация</a>
	</li>   
}