@{
    ViewBag.Title = "Index";
}
@using MvcApplication3.Models
@model Project

@Html.DisplayForModel()

<form action="/Votes/" method="get">
    @Html.HiddenFor(x => x.Id)
    @Html.Editor("Nickname")
    <button type="submit" class="btn btn-primary">Голосовать</button>
</form>